<!DOCTYPE html>
<html>
<head>
  <meta charset='utf8'>
  <title>Edit a Movie | Movie Notebook</title>
</head>
<body>
  <h1>Movie Notebook</h1>
  <p>The notebook to track what Academy Award winner movies you need to watch</p>
  <form method='POST' action='/movies'>
    <input name='movie[title]' value='{{title}}' />
    <input name='movie[artwork]' value='{{artwork}}' />
    <input name='movie[year]' value='{{year}}' />
    <input name='movie[academyAward]' value='{{academyAward}}' />
    <input name='movie[rottenTomatoRate]' value='{{rottenTomatoRate}}' />
    <button>Edit</button>
  </form>
</body>
</html>
